{% extends 'services/base.html' %}

{% block title %}
Λίγα Λόγια για Εμάς. 
{% endblock %}

{% block content %}
<div class="container">
	<p><strong>ΔΙΑΓΝΩΣΤΙΚΟ ΚΕΝΤΡΟ MedApp</strong></p> 
	
	<br>
	<p>Η Νέα Ιατρική είναι ένα σύγχρονο διαγνωστικό κέντρο.</p>

	<p>Είμαστε  κοντά σας για να σας προσφέρουμε πρωτοβάθμιες Ιατρικές Υπηρεσίες Υγείας υψηλής ποιότητας, με τα πιο αξιόπιστα και άμεσα αποτελέσματα για την φροντίδα και την πρόληψη της υγείας σας.</p>

	<p>Η επιστημονική ομάδα της Νέας Ιατρικής απαρτίζεται από άρτια εξιδεικευμένο και  έμπειρο ιατρικό  και παραϊατρικό προσωπικό που έχουν ως στόχο την παροχή Ιατρικών υπηρεσιών Υγείας με αληθινό ενδιαφέρον & σεβασμό για τον συνάνθρωπο.</p>

	<p>Η Νέα Ιατρική διαθέτει υπερσύγχρονο Ιατρικό εξοπλισμό με τεχνολογία αιχμής ,που μας επιτρέπει την πραγματοποίηση εξετάσεων με μεγάλη ακρίβεια.</p>

	<br>
	<p><strong>Πιστοποίηση ISO: 9001:2015 - 2021</strong></p>

	<p>Πιστοποίηση ISO: 9001 στην διαχείριση – εκτέλεση των ιατρικών εξετάσεων & αποτελεσμάτων,

κάνει συνεχείς εσωτερικούς & εξωτερικούς ποιοτικούς ελέγχους ,

που διασφαλίζουν αξιοπιστία εξετάσεων.</p>
</div>
{% endblock %}
