{% extends 'services/base.html' %}

{% block title %}
{% for d in depart %}
{{ d.title }}
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">

{% for d in depart %}


  <div class="card department-wrapper">
    <h3 class="card-header">{{ d.title }}</h3>
    <div class="card-body">
      <div class="card-text department-inner">
        
        <h4>Εισαγωγή</h4>
        <p>{{ d.introduction }}</p>

        <h4>Ιατρικές υπηρεσίες</h4>
        <p>{{ d.services }}</p>
      
        <h4>Παθήσεις</h4>
        <p>{{ d.diseases }}</p>
      
        <h4>Γιατί εμάς</h4>
        <p>{{ d.preference }}</p>

      </div>
    </div>
  </div>


{% endfor %}
</div>
{% endblock %}
